doctype html
html(lang="en")

  include partials/head.pug
  
  body
    div.container(style="width=100%; text-align:center;") 
      h2 Entrega Nro. 05 - PUG 

      form.formulario(action='/api/productos' method='post')
        input.inputs(name='title' type='text' placeholder='Nombre Producto')
        input.inputs(name='price' type='text' placeholder='Precio')
        input.inputs(name='thumbnail' type='text' placeholder='Url Imagen')
        button.btn Guardar
      
      a(href='/api/productos') Ver Productos